{% extends 'myapp/layout/base.html' %}
{%load static%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 align-center">
            <div class="card mt-5 shadow">
                <div class="card-body">
                    <div>
                        <h4>Reset Password</h4>
                    </div>
                    <div class="form-group">
                        <form action="" method="post">
                            {% csrf_token %}
                            <label for="" class="fw-bold class="border-bottom mb-4"">Reset Password</label>
                             {{form.as_p}}
                            <!-- <input type="text" class="form-control" placeholder="Enter Your Email"> -->
                            <!-- <label for="" class="fw-bold mt-1">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter Password"> -->
                            <div class="form-group">
                                <button type="Submit" class="mt-2 btn btn-success float shadow">Request Password Reset</button>
                             </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}



<!-- {% block scripts %}
<script>
    document.getElementById("reset-button").onclick = function() {
        this.disabled = true; // Disable the button
    };
</script>
    
{% endblock scripts %} -->
    
   

