{% extends 'myapp/layout/base.html' %}
{% load static %}

{% block content %}
  
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow">
                <div class="card-body">
                    <form method="POST" action="" novalidate>
                        {% csrf_token %}
                        <div class="text-center">
                            <h4>Reset Password</h4>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" name="email" placeholder="Enter Email">
                            <button type="submit" class="btn float shadow btn-success px-4 my-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<!-- {% block script %}
<script>
    document.getElementById("reset-button").onclick = function() {
        this.disabled = true; // Disable the button after the first click
    };
  </script>
{% endblock script %} -->
    